#header{
  
  color: white;
  text-shadow: 2px 2px darkblue;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-position: 320px 30px;
  
  padding-top: 60px;
  padding-right: 50px;
  padding-bottom: 400px;
  padding-left: 450px;
}
#cuerpo{

}