#header{
    padding-right: 70%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:darkcyan;
    }
#footer{
    padding-left: 43%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
    color: white;
    }
    #cuerpo img.volcanLlaima{

        height: 80%;
        width: 100%;
        
        }
        #cuerpo p.parrafo{
          position: absolute;
          margin-right: 3%;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          left: 2%;
          top: 40%;
          font-weight: 700;
          font-size: 1.7vw;
          border: solid;
          
        }